#introduce{
    padding: 10px;
    border-radius: 3px; 
}


div #noidung{
    text-align: justify;
    font-family: Arial;
    color: rgb(243, 237, 237);
    font-size: 16px;
    line-height: 1.6;
    border-radius: 10px;
}

#noidung p{
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 10px;
}

div .colorpin{
    background-color: #000000;
    margin-bottom: 30px;
}
div .colorpin:hover{
    background-color: rgb(12, 12, 12);
}

.tieude-118 b{
    font-size: 25px !important;
    padding-left: 20px;
    color: red;
}

.R{
    width: 153px;
    height:100px;
}
.R:hover{
    transform: scale(1.03);
    transition: 0.3s;
}
.photoo #photo{
    width: 935px;
    height: 500px;
}
#h1 h1{
    text-align: center;
    color: red;
    margin-bottom: 1rem;
    
}
.content-detail h3{
    text-align: center;
    color: red;
}
.content-detail #sp-detail a{
margin-left: 20%;
}
.content-detail .chinhanh{
    margin-top: 85px;
}
